.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  text-align: left;
  font-size: small;
  color: white;
  display: block;
  margin-bottom: 10px;
  margin-inline: 15px;
}

.sidenav a:hover {
  color: #d81222;
}

.sidenav .closebtn {
  padding: 6px 8px 8px 8px;
  font-size: medium;
  float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 750px) {
  .sidenav {
    display: none;
  }
}