nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
}

nav a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: #3B3B3B;
}

.active {
    text-decoration: underline;
    text-decoration-color: #d81222;
    text-decoration-thickness: 2px;
}

nav img {
    height: 25px;
    padding-inline: 16px;
    margin-bottom: 11px;
}